* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

.nav-title {
    font-weight: 800px;
    font-size: 45px;
}

.button-primary {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
}

/*  header and navigation styles */

nav {
    display: flex;
    justify-content: space-between;
    padding : 51px 200px;


}

nav ul {
    display: flex;
    align-items: center;
}

nav li {

    list-style: none;
    margin-left: 50px;
}

.text-primary {
    color: #FD6E0A;
}

/* banner style */
.banner {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 200px;

}
#image{
    margin-left: 150px;
    margin-top: 100px;
}

.banner-sub-title {

    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;

}

.banner-description {
    color: #757575;
    font-size: 18;
    margin-bottom: 30px;
}

/* main */
main {
    max-width: 1140;
    margin: 0px auto;
}

.section {
    margin-top: 130px;
}

/* about section about */
.about {


    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.section-title {


    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;

}

.section-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;

}

.table,
ul {
    display: flex;
    margin-bottom: 200px;
    margin-left: 150px;
}

.table,
li {
    color: #757575;
}

#side {
    padding-left: 50px;
}

.info-container {
    display: flex;
    justify-content: space-around;

}

.about-info {
    font-size: 20px;
    color: #757575;
}

.info-details {
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}

/* what i do start */
.what-i-do {

    text-align: center;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-right: 200px;

}

#call {
    padding-top: px;
    margin-bottom: 150px;
    margin-left: 100px;
    margin-right: 300;
}

.skills-container {
    display: flex;
    gap: 24px;

}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 15px 20px 20px 10px;

}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

.section-title {
    text-align: center;
    margin-bottom: 60px;
}

/* resume styles start */
.resume-content {
    display: flex;
    gap: 24px;
    margin-left: 200px;
    margin-right: 200px;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;

}
.resume .title {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}

.resume .sub-title {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px ;
}

.resume.description {
    color: #757575;
}
.resume-button{
    margin-top: 50px;
    text-align: center;
}
/* contact start */
.contact{
    display: flex;
    gap: 100px;
    background-color:  #FFF8F3;
    padding: 130px 200px;
    margin-top: 100px;
}


.contact .section-title{
    text-align: left;
    text-decoration: none;
}
.contact input, textarea{
   margin-bottom: 24px;
   border: 0px;
   width: 100%;
   padding: 18px 30px;
}
.contact a{
    text-decoration: none;
}